<ion-header>
    <ion-navbar>
        <ion-title>Socially</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let party of parties | async">
        <img *ngIf="party.images" [src]="party | amDisplayMainImage">
        <ion-card-content>
            <ion-card-title>
                {{party.name}}
            </ion-card-title>
            <p>
                {{party.description}}
            </p>
        </ion-card-content>

        <ion-row no-padding>
            <ion-col text-right>
                <ion-badge>
                    yes {{party | amRsvp:'yes'}}
                </ion-badge>
                <ion-badge item-center dark>
                    maybe {{party | amRsvp:'maybe'}}
                </ion-badge>
                <ion-badge item-center danger>
                    no {{party | amRsvp:'no'}}
                </ion-badge>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
